<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица пользователей</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_users.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-inner">
            <a class="navbar-brand logo" href="/">
                <i class="fas fa-graduation-cap"></i> UniMap
            </a>
            <div class="navbar-nav">
                <a class="nav-link text-white" href="/profile">
                    <i class="fas fa-user-circle"></i> Профиль
                </a>
                <a class="nav-link" href="/map">
                    <i class="fas fa-map-marked-alt"></i> Карта
                </a>
                <a class="nav-link" href="/favorites">
                    <i class="fas fa-heart"></i> Избранное
                </a>
                <a class="nav-link" href="/logout">
                    <i class="fas fa-sign-out-alt"></i> Выйти
                </a>
            </div>
        </div>
    </nav>

<form method="post" action="/admin/users">
    <div class="table-container">
        <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>email</td>
            <td>admin</td>
            <td>ban</td>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{ user.name }}</td>
            <td>{{user.email}}</td>
            <td>
                <select class="admin-select" name="admin_{{user.id}}">
                    {% if user.admin == 1 %}
                        <option value="admin" selected>admin</option>
                        <option value="user">user</option>
                    {% else %}
                        <option value="admin">admin</option>
                        <option value="user" selected>user</option>
                    {% endif %}
                </select>
            </td>
            <td>
                <select class="ban-select" name="ban_{{user.id}}">
                    {% if user.ban == 1 %}
                        <option value="banned" selected>banned</option>
                        <option value="unbanned">unbanned</option>
                    {% else %}
                        <option value="banned">banned</option>
                        <option value="unbanned" selected>unbanned</option>
                    {% endif %}
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="table-actions">
        <button type="submit" id="applytBtn">Применить</button>
    </div>
</div>
</form>
</body>
</html>